src/main/java/com/yd/atis/service/basicService/AtisBasicWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. -->
<definitions
        xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:tns="http://webservice.atis.hisense.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice.atis.hisense.com/"
        name="AtisBasicWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice.atis.hisense.com/" schemaLocation="http://172.16.200.81:7001/AtisWebService/AtisBasicWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="getAllStation">
<part name="parameters" element="tns:getAllStation"/>
</message>
<message name="getAllStationResponse">
<part name="parameters" element="tns:getAllStationResponse"/>
</message>
<message name="BusinessException">
<part name="fault" element="tns:BusinessException"/>
</message>
<message name="getAllStationNoRoute">
<part name="parameters" element="tns:getAllStationNoRoute"/>
</message>
<message name="getAllStationNoRouteResponse">
<part name="parameters" element="tns:getAllStationNoRouteResponse"/>
</message>
<message name="getStationInfoNoRoute">
<part name="parameters" element="tns:getStationInfoNoRoute"/>
</message>
<message name="getStationInfoNoRouteResponse">
<part name="parameters" element="tns:getStationInfoNoRouteResponse"/>
</message>
<message name="getSegmentByRoute">
<part name="parameters" element="tns:getSegmentByRoute"/>
</message>
<message name="getSegmentByRouteResponse">
<part name="parameters" element="tns:getSegmentByRouteResponse"/>
</message>
<message name="getStationBySegment">
<part name="parameters" element="tns:getStationBySegment"/>
</message>
<message name="getStationBySegmentResponse">
<part name="parameters" element="tns:getStationBySegmentResponse"/>
</message>
<message name="getStationInfo">
<part name="parameters" element="tns:getStationInfo"/>
</message>
<message name="getStationInfoResponse">
<part name="parameters" element="tns:getStationInfoResponse"/>
</message>
<message name="getRouteByStation">
<part name="parameters" element="tns:getRouteByStation"/>
</message>
<message name="getRouteByStationResponse">
<part name="parameters" element="tns:getRouteByStationResponse"/>
</message>
<message name="getRouteInfo">
<part name="parameters" element="tns:getRouteInfo"/>
</message>
<message name="getRouteInfoResponse">
<part name="parameters" element="tns:getRouteInfoResponse"/>
</message>
<message name="getDictByName">
<part name="parameters" element="tns:getDictByName"/>
</message>
<message name="getDictByNameResponse">
<part name="parameters" element="tns:getDictByNameResponse"/>
</message>
<message name="getAllDictInfo">
<part name="parameters" element="tns:getAllDictInfo"/>
</message>
<message name="getAllDictInfoResponse">
<part name="parameters" element="tns:getAllDictInfoResponse"/>
</message>
<message name="getStationByGps">
<part name="parameters" element="tns:getStationByGps"/>
</message>
<message name="getStationByGpsResponse">
<part name="parameters" element="tns:getStationByGpsResponse"/>
</message>
<portType name="AtisBasicWebService">
<operation name="getAllStation">
<input wsam:Action="http://webservice.atis.hisense.com/AtisBasicWebService/getAllStationRequest" message="tns:getAllStation"/>
<output wsam:Action="http://webservice.atis.hisense.com/AtisBasicWebService/getAllStationResponse" message="tns:getAllStationResponse"/>
<fault message="tns:BusinessException" name="BusinessException" wsam:Action="http://webservice.atis.hisense.com/AtisBasicWebService/getAllStation/Fault/BusinessException"/>
</operation>
<operation name="getAllStationNoRoute">
<input wsam:Action="http://webservice.atis.hisense.com/AtisBasicWebService/getAllStationNoRouteRequest" message="tns:getAllStationNoRoute"/>
<output wsam:Action="http://webservice.atis.hisense.com/AtisBasicWebService/getAllStationNoRouteResponse" message="tns:getAllStationNoRouteResponse"/>
<fault message="tns:BusinessException" name="BusinessException" wsam:Action="http://webservice.atis.hisense.com/AtisBasicWebService/getAllStationNoRoute/Fault/BusinessException"/>
</operation>
<operation name="getStationInfoNoRoute">
<input wsam:Action="http://webservice.atis.hisense.com/AtisBasicWebService/getStationInfoNoRouteRequest" message="tns:getStationInfoNoRoute"/>
<output wsam:Action="http://webservice.atis.hisense.com/AtisBasicWebService/getStationInfoNoRouteResponse" message="tns:getStationInfoNoRouteResponse"/>
<fault message="tns:BusinessException" name="BusinessException" wsam:Action="http://webservice.atis.hisense.com/AtisBasicWebService/getStationInfoNoRoute/Fault/BusinessException"/>
</operation>
<operation name="getSegmentByRoute">
<input wsam:Action="http://webservice.atis.hisense.com/AtisBasicWebService/getSegmentByRouteRequest" message="tns:getSegmentByRoute"/>
<output wsam:Action="http://webservice.atis.hisense.com/AtisBasicWebService/getSegmentByRouteResponse" message="tns:getSegmentByRouteResponse"/>
<fault message="tns:BusinessException" name="BusinessException" wsam:Action="http://webservice.atis.hisense.com/AtisBasicWebService/getSegmentByRoute/Fault/BusinessException"/>
</operation>
<operation name="getStationBySegment">
<input wsam:Action="http://webservice.atis.hisense.com/AtisBasicWebService/getStationBySegmentRequest" message="tns:getStationBySegment"/>
<output wsam:Action="http://webservice.atis.hisense.com/AtisBasicWebService/getStationBySegmentResponse" message="tns:getStationBySegmentResponse"/>
<fault message="tns:BusinessException" name="BusinessException" wsam:Action="http://webservice.atis.hisense.com/AtisBasicWebService/getStationBySegment/Fault/BusinessException"/>
</operation>
<operation name="getStationInfo">
<input wsam:Action="http://webservice.atis.hisense.com/AtisBasicWebService/getStationInfoRequest" message="tns:getStationInfo"/>
<output wsam:Action="http://webservice.atis.hisense.com/AtisBasicWebService/getStationInfoResponse" message="tns:getStationInfoResponse"/>
<fault message="tns:BusinessException" name="BusinessException" wsam:Action="http://webservice.atis.hisense.com/AtisBasicWebService/getStationInfo/Fault/BusinessException"/>
</operation>
<operation name="getRouteByStation">
<input wsam:Action="http://webservice.atis.hisense.com/AtisBasicWebService/getRouteByStationRequest" message="tns:getRouteByStation"/>
<output wsam:Action="http://webservice.atis.hisense.com/AtisBasicWebService/getRouteByStationResponse" message="tns:getRouteByStationResponse"/>
<fault message="tns:BusinessException" name="BusinessException" wsam:Action="http://webservice.atis.hisense.com/AtisBasicWebService/getRouteByStation/Fault/BusinessException"/>
</operation>
<operation name="getRouteInfo">
<input wsam:Action="http://webservice.atis.hisense.com/AtisBasicWebService/getRouteInfoRequest" message="tns:getRouteInfo"/>
<output wsam:Action="http://webservice.atis.hisense.com/AtisBasicWebService/getRouteInfoResponse" message="tns:getRouteInfoResponse"/>
<fault message="tns:BusinessException" name="BusinessException" wsam:Action="http://webservice.atis.hisense.com/AtisBasicWebService/getRouteInfo/Fault/BusinessException"/>
</operation>
<operation name="getDictByName">
<input wsam:Action="http://webservice.atis.hisense.com/AtisBasicWebService/getDictByNameRequest" message="tns:getDictByName"/>
<output wsam:Action="http://webservice.atis.hisense.com/AtisBasicWebService/getDictByNameResponse" message="tns:getDictByNameResponse"/>
<fault message="tns:BusinessException" name="BusinessException" wsam:Action="http://webservice.atis.hisense.com/AtisBasicWebService/getDictByName/Fault/BusinessException"/>
</operation>
<operation name="getAllDictInfo">
<input wsam:Action="http://webservice.atis.hisense.com/AtisBasicWebService/getAllDictInfoRequest" message="tns:getAllDictInfo"/>
<output wsam:Action="http://webservice.atis.hisense.com/AtisBasicWebService/getAllDictInfoResponse" message="tns:getAllDictInfoResponse"/>
<fault message="tns:BusinessException" name="BusinessException" wsam:Action="http://webservice.atis.hisense.com/AtisBasicWebService/getAllDictInfo/Fault/BusinessException"/>
</operation>
<operation name="getStationByGps">
<input wsam:Action="http://webservice.atis.hisense.com/AtisBasicWebService/getStationByGpsRequest" message="tns:getStationByGps"/>
<output wsam:Action="http://webservice.atis.hisense.com/AtisBasicWebService/getStationByGpsResponse" message="tns:getStationByGpsResponse"/>
<fault message="tns:BusinessException" name="BusinessException" wsam:Action="http://webservice.atis.hisense.com/AtisBasicWebService/getStationByGps/Fault/BusinessException"/>
</operation>
</portType>
<binding name="AtisBasicWebServicePortBinding" type="tns:AtisBasicWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getAllStation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BusinessException">
<soap:fault name="BusinessException" use="literal"/>
</fault>
</operation>
<operation name="getAllStationNoRoute">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BusinessException">
<soap:fault name="BusinessException" use="literal"/>
</fault>
</operation>
<operation name="getStationInfoNoRoute">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BusinessException">
<soap:fault name="BusinessException" use="literal"/>
</fault>
</operation>
<operation name="getSegmentByRoute">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BusinessException">
<soap:fault name="BusinessException" use="literal"/>
</fault>
</operation>
<operation name="getStationBySegment">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BusinessException">
<soap:fault name="BusinessException" use="literal"/>
</fault>
</operation>
<operation name="getStationInfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BusinessException">
<soap:fault name="BusinessException" use="literal"/>
</fault>
</operation>
<operation name="getRouteByStation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BusinessException">
<soap:fault name="BusinessException" use="literal"/>
</fault>
</operation>
<operation name="getRouteInfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BusinessException">
<soap:fault name="BusinessException" use="literal"/>
</fault>
</operation>
<operation name="getDictByName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BusinessException">
<soap:fault name="BusinessException" use="literal"/>
</fault>
</operation>
<operation name="getAllDictInfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BusinessException">
<soap:fault name="BusinessException" use="literal"/>
</fault>
</operation>
<operation name="getStationByGps">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BusinessException">
<soap:fault name="BusinessException" use="literal"/>
</fault>
</operation>
</binding>
<service name="AtisBasicWebService">
<port name="AtisBasicWebServicePort" binding="tns:AtisBasicWebServicePortBinding">
<soap:address location="http://172.16.200.81:7001/AtisWebService/AtisBasicWebService"/>
</port>
</service>
</definitions>