src/main/java/com/yd/atis/service/dynamic/AtisDynamicWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. -->
<definitions
        xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:tns="http://webservice.atis.hisense.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice.atis.hisense.com/"
        name="AtisDynamicWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice.atis.hisense.com/" schemaLocation="http://172.16.200.81:7001/AtisWebService/AtisDynamicWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="queryByStationID2">
<part name="parameters" element="tns:queryByStationID2"/>
</message>
<message name="queryByStationID2Response">
<part name="parameters" element="tns:queryByStationID2Response"/>
</message>
<message name="BusinessException">
<part name="fault" element="tns:BusinessException"/>
</message>
<message name="queryDetailByRouteID2">
<part name="parameters" element="tns:queryDetailByRouteID2"/>
</message>
<message name="queryDetailByRouteID2Response">
<part name="parameters" element="tns:queryDetailByRouteID2Response"/>
</message>
<message name="queryDetailByRouteID">
<part name="parameters" element="tns:queryDetailByRouteID"/>
</message>
<message name="queryDetailByRouteIDResponse">
<part name="parameters" element="tns:queryDetailByRouteIDResponse"/>
</message>
<message name="requireRouteSpeed">
<part name="parameters" element="tns:requireRouteSpeed"/>
</message>
<message name="requireRouteSpeedResponse">
<part name="parameters" element="tns:requireRouteSpeedResponse"/>
</message>
<message name="requireBusPosition">
<part name="parameters" element="tns:requireBusPosition"/>
</message>
<message name="requireBusPositionResponse">
<part name="parameters" element="tns:requireBusPositionResponse"/>
</message>
<message name="queryByStationID">
<part name="parameters" element="tns:queryByStationID"/>
</message>
<message name="queryByStationIDResponse">
<part name="parameters" element="tns:queryByStationIDResponse"/>
</message>
<portType name="AtisDynamicWebService">
<operation name="queryByStationID2">
<input wsam:Action="http://webservice.atis.hisense.com/AtisDynamicWebService/queryByStationID2Request" message="tns:queryByStationID2"/>
<output wsam:Action="http://webservice.atis.hisense.com/AtisDynamicWebService/queryByStationID2Response" message="tns:queryByStationID2Response"/>
<fault message="tns:BusinessException" name="BusinessException" wsam:Action="http://webservice.atis.hisense.com/AtisDynamicWebService/queryByStationID2/Fault/BusinessException"/>
</operation>
<operation name="queryDetailByRouteID2">
<input wsam:Action="http://webservice.atis.hisense.com/AtisDynamicWebService/queryDetailByRouteID2Request" message="tns:queryDetailByRouteID2"/>
<output wsam:Action="http://webservice.atis.hisense.com/AtisDynamicWebService/queryDetailByRouteID2Response" message="tns:queryDetailByRouteID2Response"/>
<fault message="tns:BusinessException" name="BusinessException" wsam:Action="http://webservice.atis.hisense.com/AtisDynamicWebService/queryDetailByRouteID2/Fault/BusinessException"/>
</operation>
<operation name="queryDetailByRouteID">
<input wsam:Action="http://webservice.atis.hisense.com/AtisDynamicWebService/queryDetailByRouteIDRequest" message="tns:queryDetailByRouteID"/>
<output wsam:Action="http://webservice.atis.hisense.com/AtisDynamicWebService/queryDetailByRouteIDResponse" message="tns:queryDetailByRouteIDResponse"/>
<fault message="tns:BusinessException" name="BusinessException" wsam:Action="http://webservice.atis.hisense.com/AtisDynamicWebService/queryDetailByRouteID/Fault/BusinessException"/>
</operation>
<operation name="requireRouteSpeed">
<input wsam:Action="http://webservice.atis.hisense.com/AtisDynamicWebService/requireRouteSpeedRequest" message="tns:requireRouteSpeed"/>
<output wsam:Action="http://webservice.atis.hisense.com/AtisDynamicWebService/requireRouteSpeedResponse" message="tns:requireRouteSpeedResponse"/>
<fault message="tns:BusinessException" name="BusinessException" wsam:Action="http://webservice.atis.hisense.com/AtisDynamicWebService/requireRouteSpeed/Fault/BusinessException"/>
</operation>
<operation name="requireBusPosition">
<input wsam:Action="http://webservice.atis.hisense.com/AtisDynamicWebService/requireBusPositionRequest" message="tns:requireBusPosition"/>
<output wsam:Action="http://webservice.atis.hisense.com/AtisDynamicWebService/requireBusPositionResponse" message="tns:requireBusPositionResponse"/>
<fault message="tns:BusinessException" name="BusinessException" wsam:Action="http://webservice.atis.hisense.com/AtisDynamicWebService/requireBusPosition/Fault/BusinessException"/>
</operation>
<operation name="queryByStationID">
<input wsam:Action="http://webservice.atis.hisense.com/AtisDynamicWebService/queryByStationIDRequest" message="tns:queryByStationID"/>
<output wsam:Action="http://webservice.atis.hisense.com/AtisDynamicWebService/queryByStationIDResponse" message="tns:queryByStationIDResponse"/>
<fault message="tns:BusinessException" name="BusinessException" wsam:Action="http://webservice.atis.hisense.com/AtisDynamicWebService/queryByStationID/Fault/BusinessException"/>
</operation>
</portType>
<binding name="AtisDynamicWebServicePortBinding" type="tns:AtisDynamicWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="queryByStationID2">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BusinessException">
<soap:fault name="BusinessException" use="literal"/>
</fault>
</operation>
<operation name="queryDetailByRouteID2">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BusinessException">
<soap:fault name="BusinessException" use="literal"/>
</fault>
</operation>
<operation name="queryDetailByRouteID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BusinessException">
<soap:fault name="BusinessException" use="literal"/>
</fault>
</operation>
<operation name="requireRouteSpeed">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BusinessException">
<soap:fault name="BusinessException" use="literal"/>
</fault>
</operation>
<operation name="requireBusPosition">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BusinessException">
<soap:fault name="BusinessException" use="literal"/>
</fault>
</operation>
<operation name="queryByStationID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BusinessException">
<soap:fault name="BusinessException" use="literal"/>
</fault>
</operation>
</binding>
<service name="AtisDynamicWebService">
<port name="AtisDynamicWebServicePort" binding="tns:AtisDynamicWebServicePortBinding">
<soap:address location="http://172.16.200.81:7001/AtisWebService/AtisDynamicWebService"/>
</port>
</service>
</definitions>